[Unit]
Description=Start browser
After=weston
Requires=weston
 
[Service]
Restart=on-failure
Type=forking
ExecStart=/usr/bin/start-browser.sh
RestartSec=3
User=1000
Group=1000
 
[Install]
WantedBy=multi-user.target
